<a href="https://colab.research.google.com/github/hearthatu/Basic-Python/blob/main/16%EC%B0%A8%EC%8B%9C_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98_%EC%8B%A4%EC%8A%B5%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("life" " is"  " too short")
print("life" + " is" + " too short")

life is too short
life is too short

In [5]:
for i in range(10):
  print(i, end="")

0123456789

In [7]:
#f = open("새파일.txt","wt") #wt , rt : read text
#f.write("hello")
#f.close

In [8]:
abs(-3)
abs(-1.2)

1.2

In [9]:
all([1,2,3]) # 모두 참이면 참
all([1,2,3,9])

True

In [10]:
any([1,2,3,0]) # 하나라도 참이면 참

True

In [11]:
divmod(7,3) # 몫과 나머지

(2, 1)

In [12]:
enumerate(["body","foo","bar"])

In [14]:
eval('1+2')
eval("'hi' + 'a'")
eval('divmod(4,3)')

(1, 1)

In [15]:
def positive(x):
  return x > 0

  print(list(filter(positive,[1,-3,2,0,-5,6])))

In [16]:
# 주소값 변환
a = 3
id(3)

137074797707568

In [19]:
#정수 반환
int('3')
int(3.4)
int("11",2) # 이진

3

In [21]:
def two_times(x):
  return x*2

list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [28]:
x = ['이순신','홍길동','아이유']
y = [1,3,5,2,-3,-4,-5]

for i, j in enumerate(x): # 0:'이순신 , 1:'홍길동", 2:'아이유"
  print(i,j)

def test(x):
  return x > 0

print(list(filter(test, y)))

#map : 모든 요소에 함수를 적용한다

def multi(x):
  return x * 10

print(list(map(multi, y)))

0 이순신
1 홍길동
2 아이유
[1, 3, 5, 2]
[10, 30, 50, 20, -30, -40, -50]

# **16차시 내장함수 실습과제**

1. 내장함수 abs() 함수를 사용하여 abs(-3) + abs(5)의 값을 변수 a에 할당하세요.

2. 내장함수 round()함수를 사용하여 round(4.7)+round(2.2)의 값을 변수 b에 할당하세요.

3. 내장함수 max(), min()함수를 사용하여 max([1,3,5,4,2]) + min([1,3,5,4,2])의 값을 변수 c에 할당하세요.

4. 내장함수 sum() 함수를 사용하여 sum([2,4,3,1,5])의 값을 변수d에 할당하세요.

5. 마지막으로 변수 a,b,c,d를 모두 더한 값을 화면에 출력하세요

In [1]:
a = abs(-3) + abs(5)
print("a = {}".format(a))

b = round(4.7)+round(2.2)
print("b = {}".format(b))

c = max([1,3,5,4,2])+min(1,3,5,4,2)
print("c = {}".format(c))

d = sum([2,4,3,1,5])
print("d = {}".format(d))

print("a+b+c+d = {}".format(a+b+c+d))

a = 8
b = 7
c = 6
d = 15
a+b+c+d = 36