<a href="https://colab.research.google.com/github/hearthatu/Basic-Python/blob/main/31%EC%B0%A8%EC%8B%9C_%EC%97%B4%EC%97%90_%EC%9E%88%EB%8A%94_%EA%B0%92%EC%9D%84_%ED%96%89%EC%9C%BC%EB%A1%9C_%EB%82%B4%EB%A6%AC%EB%8A%94_%EB%B0%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 열에 있는 값을 행으로 내리는 방법
# melt : 지정한 열에 있는 값을 행으로 내리는 방법
# pd.melt(df, id_vars = ...) id_vars에는 고정한 열을 입력한다.
# var_name : 위치를 변경한 열의 이름
# value_name : 위치를 변경할 열의 데이터를 저장한 열의 이름

import pandas as pd

df = pd.read_csv("pew.csv")

df2 = pd.melt(df, id_vars=["religion"], var_name="income", value_name = "count")
df2

                  religion              income  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [19]:
ebola = pd.read_csv("country_timeseries.csv")
ebola
ebola2 = pd.melt(ebola, id_vars=["Date","Day"])

In [20]:
ebola2

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
...          ...  ...           ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

In [21]:
ebola_split = ebola2["variable"].str.split("_")

In [22]:
state = ebola_split.str[0]
country = ebola_split.str[1]

ebola2["State"] = state
ebola2["Country"] = country

del ebola2["variable"]
ebola2

            Date  Day   value   State Country
0       1/5/2015  289  2776.0   Cases  Guinea
1       1/4/2015  288  2775.0   Cases  Guinea
2       1/3/2015  287  2769.0   Cases  Guinea
3       1/2/2015  286     NaN   Cases  Guinea
4     12/31/2014  284  2730.0   Cases  Guinea
...          ...  ...     ...     ...     ...
1947   3/27/2014    5     NaN  Deaths    Mali
1948   3/26/2014    4     NaN  Deaths    Mali
1949   3/25/2014    3     NaN  Deaths    Mali
1950   3/24/2014    2     NaN  Deaths    Mali
1951   3/22/2014    0     NaN  Deaths    Mali

[1952 rows x 5 columns]